.pub-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.pub-title {
    font-size: 1.5vw;
}

.pub-authors {
    font-size: 1vw;
}

.pub-conference {
    font-style: italic;
}

.pub-links {
    font-size:  1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pub-a {
    margin-right: 5px;
}

.pub-author-conf {
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.pub-a:link {
    color: rgb(252, 238, 238);
  }
  
/* visited link */
.pub-a:visited {
    color: rgb(252, 238, 238);
}
  
/* mouse over link */
.pub-a:hover {
    color: #C96567;
}
  
/* selected link */
.pub-a:active {
  color: black;
}

@media all and (max-width: 900px) {
    .pub-item {
        max-width: 100%;
    }

    .pub-links {
        font-size:  2.5vw;
    }

    .pub-author-conf {
        font-size: 2.5vw;
    }

    .pub-title {
        font-size: 4vw;
    }
}