.Self-Block {
    padding: 10px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 2.5vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.Intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.divider {
    background-color: #C96567;
    border: 3px;
    height: 1px;
    width: 100%;
}

.face-img {
    border-radius: 100%;
    display: block;
    max-width:20%;
    height: auto;
    margin: auto;
    border:1.5px solid #C96567;
}

.face {
    flex-grow: 1;
    margin-top: 15px;
}

.face-text {
    flex-grow: 1;
    padding: 1px;
    margin: 1px;
}

.text-a:link {
    color: #C96567;
  }
  
/* visited link */
.text-a:visited {
    color: #C96567;
}
  
/* mouse over link */
.text-a:hover {
    color: rgb(252, 238, 238);
}
  
/* selected link */
.text-a:active {
  color: black;
}

@media all and (max-width: 900px) {

    .Self-Block{
        align-items: center;
        justify-content: center;
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .face-text{
        max-width: 100%;
    }

    .face-img{
        max-width: 50%;
    }
}