.Self-Block {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 1.5vw;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.welcome-text {
    text-align: center;
}

.Intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.divider {
    background-color: #C96567;
    border: 3px;
    height: 1px;
    width: 100%;
}

.face-img {
    border-radius: 5%;
    max-width:70%;
    height: auto;
    border:1.0px solid #C96567;
}

.face {
	flex-direction: row;
	justify-content: center;
	display: flex;
    flex-grow: 1;
    margin-top: 15px;
}

.biobox {
	padding: 0px;
}

.biohead {
	padding: 0px;
}

.face-split-img {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	margin: auto;
	flex-grow: 1;
	width: 30%;
	height: 20%;
}

.face-split-bio {
	display: flex;
	justify-content: center;
	padding: 10px;
	margin: auto;
	flex-grow: 1;
	width: 70%;
	height: 20%;
}

.biohead1 {
	margin: 5px;
	font-size: 3vw;
}

.biohead2{
	margin: 5px;
	font-size: 1.8vw;
}

.biotext {
	margin: 5px;
	font-size: 1.2vw;
}

.biotext1 {
	margin: 5px;
	font-size: 1.4vw;
}

.text-a:link {
    color: #C96567;
  }
  
/* visited link */
.text-a:visited {
    color: #C96567;
}
  
/* mouse over link */
.text-a:hover {
    color: rgb(252, 238, 238);
}
  
/* selected link */
.text-a:active {
  color: black;
}

@media all and (max-width: 900px) {

    .Self-Block{
        align-items: center;
        justify-content: center;
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
		font-size: 3vw;
    }

	.biohead1 {
		font-size: 4vw;
	}
	.biohead2{
		font-size: 2.5vw;
	}
	.biotext {
		font-size: 2vw;
	}
	.biotext1 {
		font-size: 2vw;
	}


    .face-text{
        max-width: 100%;
    }

	.face-split-bio {
		justify-content: left;
	}


    .face-img{
        max-width: 80%;
    }
}


@media all and (min-width: 1800px) {
	.Self-Block{
		font-size: 20px;
	}
}
