.App {
  text-align: center;
  background-color: #314455;
}

.main-content {
  display: flex;
  padding: 10px;
  margin: 5px;
  background-color: #314455;
  flex-direction: column;
  align-items: center;
  color: rgb(252, 238, 238);
}

.App-link {
  color: #61dafb;
}


