.App {
  text-align: center;
  background-color: #314455;
  font-family: 'Montserrat', sans-serif;
}

.main-content {
  min-height: 85vh;
  padding: 10px;
  margin: 5px;
  background-color: #314455;
  color: rgb(252, 238, 238);
}
